<h2>過去のイベント一覧</h2>
<% if @feeds.present? %>
  <%= render :partial => "feed", :collection => @feeds, :as => :event %>
  <%= paginate(@feeds) %>
<% else %>
  <div class="container">
    <div class="no_event_box">
      <p>現在「過去のイベント」はありません。<br><%= link_to "新着イベント", root_path %>をチェック！</p>
    </div>
  </div>
<% end %>
