/************************
 layout
 ************************/
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

@font-face {
  font-family: exo-regular;
  src: url(font/exoregular.ttf);
}

p{
  line-height:150%;
}

a:hover{
  opacity:0.7;
  text-decoration:none;
}

h2{
  border-left: #ffd700 8px solid;
  color:#666;
  font-size:22px;
  margin-left:20px;
  padding: 4px 15px;
}

.container{
  margin-bottom:30px;
}

header{
  background-color:#999;
  border-bottom: #ffd700 2px solid;
  height:60px;
  opacity:0.7;
}

#header_inner{
  width:90%;
  margin:0 auto;
}

#logo{
  float:left;
  font-family:'exo-regular';
  color:#fff;
  font-size: 28px;
  height:60px;
  line-height:60px;
  margin: 0;
  width:150px;
}

#logo a{
  color:#fff;
}

#my-menu-button{
  color:#fff;
  display:block;
  float:right;
  font-size:24px;
  height: 60px;
  line-height: 60px;
}

footer{
  background-color:#999;
  border-top: #ffd700 2px solid;
  height:40px;
}

footer p{
  color:#fff;
  font-size:12px;
  height:40px;
  line-height:40px;
  margin:0;
  text-align:center;
}

#my-menu .mm-list > li > a{
  padding: 20px 10px 20px 20px;
}

/************************
 article
 ************************/
.article_link{
  color:#333;
  display:inline;
}

.article_link:hover{
  background-color:#fafafa;
  color:#333;
  text-decoration:none;
}

article{
  border-bottom:#bebebe thin solid;
  padding:20px;
  padding-bottom:40px;
  position:relative;
}

article:last-of-type{
  margin-bottom:50px;
}

article img{
  display:block;
  float:left;
  max-width:20%;
}

article .article_top{
  float:left;
  max-width:80%;
  padding-left:20px;
}

article .article_start{
  font-size:13px;
  margin:0;
}

article .article_title{
  font-size:18px;
  line-height:150%;
  margin-top:0;
}

article table{
  border-collapse: separate;
  border-spacing: 0 2px;
  clear:both;
  font-size:13px;
}

article table th{
  font-weight:normal;
  padding-right: 15px;
  text-align: right;
  width: 70px;
  vertical-align:top;
}

article .fa_button{
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: #f2f2f2;
  height: 30px;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 30px;
}

.fa-bu .fa_button{
  color:#ffac33;
}

.fa-bu-o .fa_button{
  color:#666;
}

.no_event_box{
  margin-top:15px;
}

.no_event_box{
  line-height: 170%;
}

/************************
 form
 ************************/
.form-box{
  margin-bottom: 40px;
  margin-top:15px;
}

.form-box .radio-inline{
  padding-left: 50px;
}

/************************
 pagination
 ************************/

.pagination {
  padding:3px;
  margin:0 auto 20px;
  text-align:center;
  display:block;
}

.pagination a {
  padding: 5px 10px 5px 10px;
  margin-right: 2px;
  border: 1px solid #ddd;
  text-decoration: none;
  color: #999;
}

.pagination a:hover, .pagination a:active {
  border:1px solid #ddd;
  color: #fff;
  background-color: #999;
}

.pagination span.current {
  padding: 5px 10px 5px 10px;
  margin-right: 2px;
  border: 1px solid #ddd;
  font-weight: bold;
  background-color: #999;
  color: #FFF;
}

.pagination span.disabled {
  padding: 5px 10px 5px 10px;
  margin-right: 2px;
  border: 1px solid #f3f3f3;
  color: #ccc;
}

/************************
 new
 ************************/

h3{
  border-bottom: #ccc 2px solid;
  font-size: 20px;
  margin-bottom: 16px;
  padding-bottom: 8px;
  padding-left: 4px;
}

.how_to{
  line-height: 170%;
}

.how_to a{
  display:block;
  margin-top:5px;
}

.how_to span{
  color:#999;
  word-break: break-all;
}

